  .dashboard-container {
    min-height: 100vh;  /* Establece la altura mínima del componente para que abarque toda la altura de la ventana */
    background: url('https://i.pinimg.com/originals/f3/31/13/f33113fa427cca8495909b4b4be7c6a9.gif') fixed;
    background-size: cover;
  }
  
  .sidebar-Dashboard {
    width: 250px;
    background-color: #2d18ef;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #233dff2e;
  }
  
  .sidebar-Dashboard > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fffefe;
  }
  
  .sidebar-Dashboard > ul > li {
    margin-bottom: 10px;
  }
  
  .sidebar-Dashboard > ul > li > a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
  }
  
  .sidebar-Dashboard > ul > li > a.active {
    background-color: #6535a9;
    color: white;
  }
  
  .sidebar-Dashboard > ul > li > a:hover:not(.active) {
    background-color: #8b36d1;
    color: white;
  }
  
  .sidebar-Dashboard > .content {
    margin-left: 220px;
    padding: 20px;
    
  }
  

  