/* coolores fondo dashboard*/
  .bg-custom {
    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .dashboard-container {
    min-height: 100vh;  /* Establece la altura mínima del componente para que abarque toda la altura de la ventana */
    background: url('https://i.pinimg.com/originals/f3/31/13/f33113fa427cca8495909b4b4be7c6a9.gif') fixed;
    background-size: cover;
  }
  