.proforma-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .proforma-table th,
  .proforma-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .proforma-table th {
    background-color: #f2f2f2;
  }
  

  .containerFondoProforma1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional: ajusta la altura a tus necesidades */
  }
  

  .fondoVistaProforma1-container{
    min-height: 100vh;  /* Establece la altura mínima del componente para que abarque toda la altura de la ventana */
    background: url('https://bestanimations.com/media/sweets/559815198cupcake-animated-gif-2.gif') fixed;
    background-size: cover;
  }
.custom2-table {
    background-color: rgb(68, 251, 181); /* Personaliza el color de fondo aquí */
  }
